<h1>Hero List</h1>
<mat-nav-list>
  <a mat-list-item *ngFor="let hero of heroes" (click)=details(hero)> {{ link }} 
      <button mat-button color="primary">{{hero.id}}</button>
      {{hero.name}} </a>
</mat-nav-list>

<div *ngIf="selectedHero">
<h2>{{selectedHero.name|uppercase}} Details: </h2>
<p> Id:  {{ selectedHero.id }} </p>
<label for="name">Name </label>
<mat-form-field class="example-full-width">
    <input matInput name="name" id="name" [(ngModel)]="selectedHero.name">
</mat-form-field>
</div>