<mat-toolbar color="primary" [style.margin]="'0'">
    <a [ngStyle]="toolbar" [routerLink]="['/binding']">Binding</a>
    <a [ngStyle]="toolbar" [routerLink]="['/userinput']" [style.marginLeft]="'15px'">User input</a>
    <a [ngStyle]="toolbar" [routerLink]="['/lifecyclehooks']" [style.marginLeft]="'15px'">Lifecycle Hooks</a>
    <a [ngStyle]="toolbar" [routerLink]="['/customdirectives']" [style.marginLeft]="'15px'">Custom Directives</a>
    <a [ngStyle]="toolbar" [routerLink]="['/pipes']" [style.marginLeft]="'15px'">Pipes</a>
</mat-toolbar>
<router-outlet></router-outlet>