<mat-toolbar color="primary" [style.margin]="'0'">
    <a [ngStyle]="toolbar" class="nav-links" [routerLink]="['/binding']">Binding</a>
    <a [ngStyle]="toolbar" class="nav-links" [routerLink]="['/userinput']">User input</a>
    <a [ngStyle]="toolbar" class="nav-links" [routerLink]="['/lifecyclehooks']">Lifecycle Hooks</a>
    <a [ngStyle]="toolbar" class="nav-links" [routerLink]="['/customdirectives']">Custom Directives</a>
    <a [ngStyle]="toolbar" class="nav-links" [routerLink]="['/pipes']">Pipes</a>
    <a [ngStyle]="toolbar" class="nav-links" [routerLink]="['/forms']">Forms</a>
</mat-toolbar>
<router-outlet></router-outlet>