<div *ngIf="element.name">
    <p><b>Data from a child component:</b></p>
    <h3>
    {{element.symbol}} : {{element.name}}
  </h3>
  <div *ngIf="element.symbol=='H'">
    <p>In the early 1500s the alchemist Paracelsus noted that the bubbles given off when iron filings were added to sulfuric acid were flammable. 
    <br>  In 1671 Robert Boyle made the same observation. Neither followed up their discovery of hydrogen, and so Henry Cavendish gets the credit. 
    <br>  In 1766 he collected the bubbles and showed that they were different from other gases. He later showed that when hydrogen burns it forms water, thereby ending the belief that water was an element. 
    <br>  The gas was given its name hydro-gen, meaning water-former, by Antoine Lavoisier.
    <br>  In 1931, Harold Urey and his colleagues at Columbia University in the US detected a second, rarer, form of hydrogen. This has twice the mass of normal hydrogen, and they named it deuterium.</p>
  </div>
</div>

<h2>Add new element</h2>
<label for="new"></label><input type="text" #newElement>
<input type="button" value="Add Element" (click)="addNewElement(newElement.value)">