<div class="container mt-4">
  <div class="row">
    <div class="col-6 col-md-4">
        <mat-card class="card">
            <mat-card-header [routerLink]="['/reactive-programming']">
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title><h2>Reactive Programming</h2></mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                Reactive programming in reactive forms.
              </p>
            </mat-card-content>
          </mat-card>
    </div>
  </div>

</div>