<div class="container">
  <mat-tab-group>
    <!-- ----------------------Reactive Forms-------------------------->
      <mat-tab label="Reactive Forms"> 
          <h2> From Control </h2>
          <mat-form-field >
            <input matInput [formControl]="name" placeholder="Name">
          </mat-form-field> 
          <button mat-stroked-button color="primary" 
                  (click)="updateName()"
                  [style.margin-left]="'20px'">Update name</button>
          <p *ngIf="name.value">Value using interpolation: {{name.value}}</p>
          <hr>
          <h2> From Group </h2>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            Name: 
            <mat-form-field class="gap">
              <input matInput formControlName="firstName">
              <mat-hint>Enter your first name</mat-hint>
            </mat-form-field>
            <mat-form-field  class="gap"> 
              <input matInput formControlName="lastName">
              <mat-hint>Enter your last name</mat-hint>
            </mat-form-field>
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
              <div class="alert alert-danger" *ngIf="firstName.errors.forbiddenName">Name can't be thor</div>
              <div class="alert alert-danger" *ngIf="firstName.errors.required">Name is required.</div>
              <div class="alert alert-danger" *ngIf="firstName.errors.minlength">Minimun length is three.</div>
            </div>
            <div formGroupName="address" >
              Address:
              <mat-form-field appearance="standard" class="gap">
                <mat-label>House number</mat-label>
                <input matInput formControlName="houseNo">
              </mat-form-field>
              <mat-form-field appearance="standard" class="gap">
                <mat-label>Street</mat-label>
                <input matInput formControlName="street">
              </mat-form-field>
              <mat-form-field appearance="standard" class="gap">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" required>
              </mat-form-field>
              <mat-form-field appearance="standard" class="gap">
                <mat-label>Pincode</mat-label>
                <input matInput formControlName="pincode">
              </mat-form-field>
            </div> 
            <div formArrayName="hobbies">
                Hobbies: (Forms Array)
                <span *ngFor="let a of hobbies.controls;let i=index" class="gap">
                    <mat-form-field>
                      <input matInput type="text" [formControlName]="i">
                    </mat-form-field>
                  </span>
                  <button mat-mini-fab color="primary" type="button" (click)="addHobbies()" class="gap">
                      <i class="fas fa-plus"></i>
                  </button>
            </div>
            <p>Form Status: <b>{{profileForm.status}}</b>  </p>
            <button mat-flat-button color="primary" type="button" (click)="setReqFields()">Set required fields</button>
            <button mat-flat-button color="primary" type="button" (click)="setAllFields()" class="gap">Set all fields</button>
            <button mat-stroked-button [disabled]="!profileForm.valid" color="primary" type="submit" class="gap">Submit</button>
            <button mat-stroked-button color="primary" type="reset" class="gap">Reset</button>
          </form>
      </mat-tab>
      <!-- -----------Template-driven Forms------------------------- -->
      <mat-tab label="Template-driven Forms">  
          <h2 class="headings">Apply for a job</h2>
          <div *ngIf="!isSubmitted">
              <form #heroForm="ngForm" (ngSubmit)="onsubmit2()">
                  <p><mat-form-field>
                    <input matInput #handle="ngModel" placeholder="Hero Handle" name="handle" 
                           [(ngModel)]="model.handle" [value]="model.handle" required minlength="4" appForbiddenName="thor">
                  </mat-form-field></p>
                  <div *ngIf="handle.invalid && (handle.dirty||handle.touched)" class="alert alert-danger">
                      <div *ngIf="handle.errors.required"> Hero handle is required. </div>
                      <div *ngIf="handle.errors.minlength"> Minimum length required is four. </div>
                      <div *ngIf="handle.errors.forbiddenName"> Handle can't be thor. </div>
                  </div>
                  <p><mat-form-field>
                    <input matInput placeholder="Hero Name" name="name" [(ngModel)]="model.name" [value]="model.name" required>
                  </mat-form-field></p>
                  <p><mat-form-field>
                    <mat-label>Class</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let class of classes" [value]="class">
                        {{class}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field></p>
                  <p><mat-form-field>
                    <mat-label>Super power</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let superPower of superPowers" [value]="superPower">
                        {{superPower}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field></p>
                <button mat-stroked-button [disabled]="!heroForm.valid" color="primary" type="submit">Submit</button>
              </form>
          </div>
          <div *ngIf="isSubmitted" class="jumbotron">
            <h1>The form is submitted successfully.</h1>
            <hr>
            <div class="btn btn-primary" (click)="isSubmitted=!isSubmitted" >Apply another job</div>
          </div>
      </mat-tab>
    </mat-tab-group>
</div>

<div matTooltip="See the github code" class="middle">
    <a class="social-btn" href="https://github.com/gauravsaxena1997/Angular8-Basics/tree/master/concepts/src/app/components/forms" target="_blank">
        <i class="fab fa-github"></i>
    </a>
</div>