<div class="container">
    <h1 routerLink="/reactive-programming/bands">Reactive bands</h1>
    <mat-form-field>
        <!-- <mat-label>Favorite food</mat-label> -->
        <mat-select [(value)]="selected">
          <mat-option routerLink="/reactive-programming/bands" [queryParams]="{ active: true }" value="Active"> Active </mat-option>
          <mat-option routerLink="/reactive-programming/bands" [queryParams]="{ active: false }" value="Inactive"> Inactive </mat-option>
          <mat-option routerLink="/reactive-programming/bands" value="All"> All </mat-option>
          <mat-option routerLink="/reactive-programming/band-search" value="Search"> Search </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="ml-4" routerLink="/reactive-programming/band-create" mat-button color="primary">Add Band</button>

    <router-outlet></router-outlet>
</div>


<div matTooltip="See the github code" class="middle">
        <a class="social-btn" href="https://github.com/gauravsaxena1997/Angular8-Basics/tree/master/concepts/src/app/components/reactive-programming" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>