<div class="container">
  <h2>Custom attribute directive</h2>
<div [style.margin.px]="10">
  <p>Select a color of highlight (Default: Violet)</p>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button name="colors" value="cyan" [style.padding.px]="10" (click)="color='cyan'">Cyan</mat-radio-button>
    <mat-radio-button name="colors" value="lightgreen" [style.padding.px]="10" (click)="color='lightgreen'">Lightgreen</mat-radio-button>
    <mat-radio-button name="colors" value="lightblue" (click)="color='Lightblue'">lightblue</mat-radio-button>
  </mat-radio-group>  
</div>

<div [appHighlight]='color' defaultColor="violet" [ngStyle]="myStyles">
    Hover to highlight (by custom attribute directive)
</div>
<hr>

<h2>Custom structural directive</h2>
<button mat-flat-button color="accent" (click)="condition=!condition" >
    Toggle condition to {{condition?'true':'false'}}
  </button>
<div [ngStyle]="myStyles" *appUnless="!condition">
    This div is appear when the condition is false.
</div>
<!-- Another syntax -->
<ng-template [appUnless]="condition">
    <div [ngStyle]="myStyles">
        This div is appear when the condition is true.
    </div>
</ng-template>
</div>
