<div class="container">
  <p>
  <b>Without any pipe:</b> {{today}}
</p>
<p>
    <b>With pipe:</b> {{today | date}}
</p>
<p>
    <b>With parameterized pipe:</b> {{today | date:'dd/MM/yyyy'}}
</p>
<p>
    <b>Parameterized pipe with template expression:</b> {{today | date:format}}
    <button mat-button color="primary" (click)="toggleFormat()">Toggle format</button>
</p>

<h3>Power Calculator</h3>
<mat-form-field >
  <input matInput [(ngModel)]="baseValue" placeholder="Base value" value="5">
</mat-form-field>
<mat-form-field [ngStyle]="{'margin-left':'25px'}">
  <input matInput [(ngModel)]="power" placeholder="Power" value="1">
</mat-form-field>
<p [ngStyle]="{'display':'inline','margin-left':'25px'}">Result:  {{baseValue | exponential:power }} </p> 
</div>

<div matTooltip="See the github code" class="middle">
    <a class="social-btn" href="https://github.com/gauravsaxena1997/Angular8-Basics/tree/master/concepts/src/app/components/pipes" target="_blank">
        <i class="fab fa-github"></i>
    </a>
</div>